<nz-card nzTitle="Cart Title" style="margin: 20px">
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
  <div nz-card-grid [ngStyle]="gridStyle">Content</div>
</nz-card>
